@import "../../theme";
@import "../../sizes";

.mainPersonBlock {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid $border-color;

  .personInfoBlock {
    display: flex;
    width: 70%;

    h2 {
      text-align: start;
      font-weight: 300;

      &:nth-child(1) {
        width: 14%;
      }
      &:nth-child(2) {
        width: 50%;
      }
      &:nth-child(3) {
        width: 35%;
      }
    }
  }
  .manageBlock {
    width: 30%;
    @extend %justify-center;

    & > button:not(:last-child) {
      margin-right: 12px;
    }
  }
}
