@import "../../theme";
@import "../../sizes";

.mainPersonBlock {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid $border-color;

  .personInfoBlock {
    display: flex;
    width: 70%;

    h2 {
      font-family: Montserrat-Light;
      text-align: start;
      font-weight: 500;

      &:nth-child(1) {
        width: 14%;
        font-weight: 600;
      }

      &:nth-child(2) {
        width: 50%;
      }

      &:nth-child(3) {
        width: 35%;
      }
    }
  }
  .manageBlock {
    width: 30%;
    @extend %justify-center;
    justify-content: flex-end;

    & > button:not(:last-child) {
      margin-right: 12px;
    }
  }
}

@media screen and (max-width: 750px) {
  .mainPersonBlock {
    flex-wrap: wrap;
  }

  .personInfoBlock {
    width: 100% !important;

    h2 {
      &:nth-child(1) {
        position: absolute;
        right: 0;
        bottom: 20px;
        width: auto !important;
        min-height: 16px;
        min-width: 16px;

        padding: 10px;
        border-radius: 50%;
        background: $main-bg-color;
        color: white;
      }

      &:nth-child(2) {
        width: 50%;
        margin-right: 10px;
      }

      &:nth-child(3) {
        width: 50% !important;
      }
    }
  }

  .manageBlock {
    margin-top: 1em;
    width: 100% !important;
    justify-content: flex-start !important;
  }
}
