.preLoaderBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
}

.preLoaderOutside {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: animatePreloader 1s infinite;
}

.preloaderInside {
  border: 1.5em solid #6c64d7;
  border-top-color: #fdfdfd;
}

@keyframes animatePreloader {
  0% {
    transform: rotate(0);
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
    transform: rotate(360deg);
  }
}
