@import "../../theme";
@import "../../sizes";

.body {
  @extend %justify-center;
}

.mainBlock {
  width: 100%;
  position: relative;
  @extend %justify-column;
  @extend %main-block-reset;
}

.titleForCards {
  width: 100%;
  margin-bottom: 2em;
  .titleBlock {
    margin-bottom: 2em;
    width: 100%;
    text-align: start;
  }

  .theadInfo {
    display: flex;
    width: 100%;
    padding: 10px 20px;

    h2 {
      text-align: start;
      font-weight: 600;
      &:nth-child(1) {
        width: 10%;
      }
      &:nth-child(2) {
        width: 35%;
      }
      &:nth-child(3) {
        width: 35%;
      }
    }
  }
}

.paginationBlock {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 10px;

  & > button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
