$main-bg-color: #585cc6;
$block-bg-color: white;
$main-font-color: black;

$button-color: blue;
$main-font-family: "Montserrat";
$border-color: rgba(0, 0, 0, 0.42);
$main-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
